.button--preFav:hover .button__iconFav,
.button--preFav .button__iconFaved 
    display: none
    
.button--preFav:hover .button__iconFaved
    display: inline

.button__iconFaved
    color: #ffbf00

.button--preFav, .btn-default:hover, .btn-default, .btn-default:focus
    background: none 
    border: none
.userinfo__info--name
    font-size: 35px

.userinfo
    width: 800px
    margin-top: 30px
    margin-bottom: 30px
    align: center
    display: flex

.userinfo__info
    margin-left: 100px
.userinfo__img
    margin-left: 50px